@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Overpass", sans-serif;
}

.input-login {
  border-radius: 1.5rem;
}

.btn-google {
  border: 2px solid #518ef8;
  border-radius: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}
.btn-google:hover {
  border: 2px solid #f9ca24;
  background-color: #f6e58d;
}

.btn-google img {
  padding-left: 1rem;
}
.input-add {
  border: 1px solid #518ef8;
  border-radius: 1.5rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
.btn-add {
  background-color: #518ef8;
  border: 3px solid #518ef8;
  margin-top: 2rem;
  font-weight: 500;
  color: white;
}

.btn-add:hover {
  background-color: white;
  border: 3px solid #518ef8;
  color: black;
}
.targeta:hover {
  box-shadow: 2px 12px 17px 5px rgba(0, 0, 0, 0.1);
}
.error {
  color: #d63031;
}
